@charset "utf-8";
#left{
	width: 240px;
	margin-right: 20px;
	float: left;
	position: fixed;
}
.top{
	background-color: rgba(0,0,0,1.00);
	text-align: center;	
}
.top a{
	color: rgba(255,255,255,1.00);
	line-height: 60px;
	font-size: 20px;
	font-weight: bolder;
}
.center{
	background-color: rgba(255,255,255,1.00);
	padding: 20px 0;
	margin-bottom: 20px;
	line-height: 40px;
}
.center .drop{
	color: rgba(0,0,0,0.25);
	display: none;
	float: right;
}
.center .tips{
	display: none;
	float: left;
}
.center p{
	margin: 0;
	padding: 0 30px;
	font-weight: 500;
	font-size: 15px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.center p:hover{
	background-color: rgba(100,144,213,0.34);
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	font-weight: bolder;
	font-size: 125%;
}
.center p:hover .drop,.center p:hover .tips{
	display:block;
}
.bottom{
	background-color: rgba(255,255,255,1.00);
}
.bottom .icon{
	width: 150px;
	margin: 0 auto;
	padding-top: 25px;
}
.bottom .name{
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	padding-bottom: 25px;
}