@charset "utf-8";
#right{
	width: 1140px;
	float: right;
	height: 2000px;
}
.box {
	background-color: rgba(255,255,255,1.00);
	height: 300px;
	margin: 10px 0;
}
.title{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	padding-top: 40px;
}
