@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	background-image: url(../background/top.jpg);
}
#box{
	width: 1400px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: rgba(0,0,0,1.00);
}
#bufferbar{
	height: 1690px;
	background: rgba(0,0,0,0.00);
	border-width: thin;
	border-style: double;
}
.selected{
	font-weight: bolder;
	font-size: 125%;
	transform: translate(5px,0px);
	background-color: rgba(233,235,168,0.50);
}