@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	background-image: url(../background/top.jpg);
}
#box{
	width: 1400px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: rgba(0,0,0,1.00);
}
#bufferbar{
	height: 2500px;
	background: rgba(0,0,0,0.00);
	border-width: thin;
	border-style: double;
}